[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
pandas = "*"
requests = "*"
beautifulsoup4 = "*"
mechanize = "*"
altair = "*"
seaborn = "*"
matplotlib = "*"

[requires]
python_version = "3.8"
